{% extends "base.html" %}
{% load static %}
{% block content %}
        <section>
            <div class="content"><a href="{% url 'main:home' %}">Главная</a><a href="{% url 'main:about' %}">/О нас</a></div>
        <div class="about">
            Клиника Витаминка+ предоставляет пациентам широкий перечень услуг. 
                Здесь ведется прием взрослых и детей, проводятся обследования, диагностика, 
                профилактика и лечение широкого перечня патологических состояний и заболеваний.
            <br>
            <br>
            Просторные кабинеты комфортны и оснащены всем необходимым для работы специалистов оборудованием и инструментарием.
                В клинике работают не только педиатры и терапевты, но и врачи узкого профиля.
            <br>
            <br>
            Многолетний опыт работы дружного коллектива врачей и ученых обеспечивает
                Клинике репутацию ведущего медицинского центра области, где современные
                научные технологии и передовые теоретические разработки сочетаются с врачебным профессионализмом, 
                ответственностью и значительным опытом практической работы.
            <br>
            <br>
            Витаминка+ ежегодно участвует в Федеральной Системе внешней оценки качества клинических 
                лабораторных исследований (ФСВОК), что является одной из важнейших составляющих обеспечения 
                эффективности клинической лабораторной диагностики и гарантом качества медицинских анализов наряду с внутренним контролем.
            <br>
            <br>
            Для диагностики и лечебных процедур мы используем высококлассное оборудование. Применяем качественные и безопасные материалы.
                В нашей уютной медицинской клинике созданы комфортные условия для приема посетителей. А наши врачи внимательно и ответственно 
                подходят к приему каждого пациента. Вы можете записаться к интересующему специалисту по телефону:+79028830469.
            <br>
        </div>
        </section>
        {% endblock content %}
