{% extends "base.html" %}
{% load static %}
{% block content %}
        <section>
            <div class="content"><a href="{% url 'main:home' %}">Главная</a><a href="{% url 'main:vacancies' %}">/Вакансии</a></div>
        <div class="vacancies">
            <span>В СВЯЗИ С РАСШИРЕНИЕМ В КЛИНИКУ ТРЕБУЮТСЯ:</span>
            <span>Регистраторы,  Медицинская сестра/брат</span>
            <br>
            График работы - посменный
            <br>
            (мы бесплатно обучаем медицинских сестер и медбратов иных специализаций на акушеров, регистраторов и иные специальности)
            <br>
            <span>ОБЯЗАТЕЛЬНО наличие МЕДИЦИНСКОГО ОБРАЗОВАНИЯ</span> для регистраторов и всех категорий соискателей на медицинские вакансии. 
            <br>
            Возможна работа по СОВМЕСТИТЕЛЬСТВУ. 
            <br>
            Подробности по телефону: 93-61-42.
            <br>
        </div>
        </section>
        {% endblock content %}

